* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-landing {
  color: white;
  font-family: Roboto, Verdana, sans-serif;
  background-color: orangered;
}

.header-landing {
  height: 50px;
  padding-left: 20px;
  line-height: 50px;
  font-size: 15px;
  background: linear-gradient(to top right, purple, crimson, orangered, gold);
  box-shadow: 0 5px 5px 0 rgba(36, 32, 32, 0.87);
}

.main-landing {
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(to top left, purple, crimson, orangered, gold);
}

.description-piskel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin: 0 40px;
  font-size: 30px;
  background-image: url(/assets/canvas.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 90% 50%;
}

.description-text {
  width: 40%;
  overflow: hidden;
}

.create-anim {
  display: flex;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.fa-long-arrow-alt-right {
  margin: 0 10px;
  animation-name: blink;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  20% {
    color: rgba(255, 217, 0, 0.5);
  }
  40% {
    color: rgba(255, 68, 0, 0.7);
  }
  60% {
    color: rgba(128, 0, 128, 0.7);
  }
  80% {
    color: rgba(220, 20, 60, 0.7);
  }
  100% {
    color: rgba(255, 68, 0, 0.7);
  }
}

.btn-sprite {
  height: 50px;
  padding: 10px;
  color: white;
  font-size: 20px;
  background-color: purple;
  cursor: pointer;
}

.btn-sprite:hover {
  background-color: #00bcd4;
}

.advantages-piskel {
  display: flex;
  justify-content: space-between;
}

.properties-piskel-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-left: 20px;
  background-image: url(/assets/anim.gif);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 95% 50%;
}

.load-city {
  background-image: url(/assets/city.png);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 95% 50%;
}

.header-property {
  margin: 20px 0;
  font-size: 30px;
  overflow: hidden;
}

.property-text {
  margin-top: 10px;
  width: 45%;
  overflow: hidden;
}

.properties-text {
  margin: 30px;
  font-style: italic;
  overflow: hidden;
}

.properties-piskel {
  height: 100px;
}

.wrapper-piskel {
  display: none;
}

.header-piskel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 2%;
  line-height: 50px;
  font-family: Roboto, Verdana, sans-serif;
  font-size: 16px;
  box-shadow: 0 5px 5px 0 rgba(133, 119, 119, 0.5);
}

.header-nav {
  width: 100%;
}

nav {
  display: inline;
  margin-right: 2%;
}

.fa-bars {
  cursor: not-allowed;
}

h1 {
  display: inline;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.header-log {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.log-output {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
}

.login-user {
  max-width: 100%;
  height: 30px;
  padding: 0 2px;
  line-height: 30px;
  white-space: nowrap;
  color: white;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.img-avatar {
  width: 30px;
  margin-right: 10px;
}

.btn-login {
  width: 65px;
  height: 30px;
  margin: 0 10px;
  color: white;
  background-color: #00bcd4;
}

.main-piskel {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto, Verdana, sans-serif;
  font-size: 16px;
}

.tools {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.tools-list {
  width: 100%;
  padding: 0 0 10% 0;
  list-style-type: none;
  box-shadow: 0 2px 2px 1px rgba(133, 119, 119, 0.5);
}

.list-item {
  width: 100%;
  padding: 8% 0;
  cursor: pointer;
}

.list-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.list-item.prev {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.list-item.selected {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.6);
}

.list-size {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-btn-size {
  margin: 10px 0;
  text-align: center;
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.6);
}

.input-radio-size {
  margin-left: 10px;
  cursor: pointer;
}

.tools.fas {
  width: auto;
  padding: 0 10%;
  font-size: 20px;
}

.label-color,
.item-color {
  position: relative;
  padding-left: 25%;
}

.color-circle {
  position: absolute;
  content: "";
  left: 20px;
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: green;
  cursor: pointer;
}

.select-color {
  position: absolute;
  content: "";
  left: 20px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 1px solid black;
  border-radius: 50%;
  background-color: green;
  cursor: pointer;
}

.color-circle.prev {
  background-color: #c4c4c4;
}

.color-circle.red {
  background-color: red;
}

.color-circle.blue {
  background-color: blue;
}

.list-frames {
  max-height: 80vh;
  overflow-y: auto;
  list-style-type: none;
}

.list-frames-item {
  position: relative;
  width: 106px;
  height: 106px;
  margin: 10px 20px 10px 10px;
  background: linear-gradient(
      45deg,
      lightgray 12%,
      transparent 0,
      transparent 88%,
      lightgray 0
    ),
    linear-gradient(
      135deg,
      transparent 37%,
      rgb(204, 198, 198) 0,
      rgb(204, 198, 198) 63%,
      transparent 0
    ),
    linear-gradient(
        45deg,
        transparent 37%,
        lightgray 0,
        lightgray 63%,
        transparent 0
      )
      rgb(181, 184, 184);
  background-size: 10px 10px;
  border: 3px solid gray;
  cursor: pointer;
}

.list-frames-item:hover {
  border: 3px solid lightgray;
}

.active-frame {
  border: 3px solid #00bcd4;
  outline: 3px solid #00bcd4;
}

.active-frame:hover {
  border: 3px solid #00bcd4;
}

.btn-frame {
  display: none;
  position: absolute;
  padding: 3px;
}

.delete-frame {
  top: 0;
  left: 80%;
}

.clone-frame {
  top: 75%;
  left: 78%;
}

.list-frames-item:hover .btn-frame {
  display: block;
}

.btn-add-frames {
  display: flex;
  align-items: center;
}

.add-frame-plus {
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
}

.small-canvas {
  width: 100px;
  height: 100px;
  image-rendering: pixelated;
  outline: 2px dotted lightgray;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.load-location {
  display: flex;
  justify-content: space-between;
  width: 512px;
  margin: 10px;
}

.field__button {
  display: flex;
}

.canvas-btn {
  height: 30px;
  padding: 0 5px;
  color: white;
  background-color: #00bcd4;
}

.canvas {
  width: 512px;
  height: 512px;
  image-rendering: pixelated;
  outline: 2px dotted lightgray;
  cursor: crosshair;
}

.canvas-btn-wrapper {
  display: flex;
  justify-content: space-between;
  width: 512px;
  margin: 10px;
}

.label-resizing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
}

.image-resizing {
  position: relative;
  width: 100%;
}

.box-anim {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anim-canvas {
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
  image-rendering: pixelated;
  outline: 2px dotted lightgray;
}

.box-anim-fps {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
